/* FONT DEFINITIONS */
@font-face {
    font-family: gradus;
    font-weight: 400;
    font-style: normal; 
    src: url("gradus-regular.otf") format("opentype");
}
@font-face {
    font-family: gradus;
    font-weight: 400; 
    font-style: italic;
    src: url("gradus-regularitalic.otf") format("opentype");
}
@font-face {
    font-family: gradus;
    font-weight: 600;
    font-style: normal; 
    src: url("gradus-medium.otf") format("opentype");
}
@font-face {
    font-family: gradus;
    font-weight: 600; 
    font-style: italic;
    src: url("gradus-mediumitalic.otf") format("opentype");
}


/* BASE STYLES  */
:root {
    --main-color: #1A1A1A;
    --background-color: #F8F8F8;
    --select-color: #565656;
    --select-color-secondary: #cbcbcb;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    overflow: hidden;
}

body {
    display: flex;
    font-family: gradus;
    font-weight: 400;
    color: var(--main-color);
    font-variant-numeric: lining-nums;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: none;

}

body, html {
    cursor: none;
    height: 100%;
}

/* CUSTOM CURSOR */
#custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    pointer-events: none;
    z-index: 10001;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease-out;
}

.cursor-ring {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 2px solid var(--select-color);
    background-color: var(--background-color);
    border-radius: 50%;
    position: absolute;
}

.cursor-crosshair-v,
.cursor-crosshair-h {
    position: absolute;
    background-color: var(--select-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cursor-crosshair-v {
    width: 2px;
    height: 10px;
}

.cursor-crosshair-h {
    width: 10px;
    height: 2px;
}

#custom-cursor.rotate {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.5);
}

.rotate .cursor-crosshair-v,
.rotate .cursor-crosshair-h {
    background-color: var(--background-color);
}

.rotate .cursor-ring {
    border: 2px solid var(--background-color);
    background-color: transparent;
}

#custom-cursor.pulsate:not(.rotate) {
    animation: pulsate 0.2s ease-out;
}

#custom-cursor.rotate.pulsate {
    animation: pulsate-rotate 0.2s cubic-bezier(0, 0, 0, 2.13);
}

a, button, input, select, textarea, .region-entity__name, svg path[id] {
    cursor: none;
}

/* GLOBAL CONTAINERS */
.interaction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px 46px;
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    width: 40.429rem;
}

.interaction.interaction-hidden {
    transform: translateX(-80vh);
}

.map {
    width: 70vw;
    transform: translate(14vw, 0) rotate(21deg);
    /* filter: blur(0.4px); */
    transition: .4s ease;
    filter: none;
}

/* INTERACTION ELEMENTS */
.interaction__info {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    line-height: 1.25;
}

.interaction__region-list {
    display: flex;
    overflow: scroll;
    scrollbar-width: none;
    padding-inline-start: 100px;
    padding-inline-end: 50px;
    height: 42rem;
}
.interaction__region-list::-webkit-scrollbar {
    display: none; 
}

.interaction__buttons {
    display: flex;
    gap: 10px;
    font-size: 1.725rem;
    text-align: center;
    vertical-align: baseline;
    padding-block-start: 20px;
    padding-inline-start: 100px;
    padding-inline-end: 50px;
    width: 41rem;
}

.interaction__form {
    margin-inline-start: -100px;
}

/* REGION ENTITIES */
.region-entity {
    font-size: 3.688rem;
    width: 30rem;
    border-block-end: 2px solid var(--main-color);
    padding-block-start: 2.75rem;
    padding-block-end: 2.75rem;
    transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    position: relative;
}

.region-entity:last-child {
    border: none;
}

.region-entity.deprecated {
    color: var(--select-color);
    opacity: 0.6;
}

.region-entity__support {
    display: block;
}

.region-entity__name {
    font-weight: 600;
    font-style: italic;
    transition: all 0.2s ease-in-out;
}

.region-entity__info {
    width: max-content;
}

.region-entity::before {
    content: '❯';
    position: absolute;
    left: -1.5rem;
    top: 4.5rem;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1), 
                opacity 0.3s ease-in;
}

.region-entity.selected_region {
    padding-inline-start: 2.5rem;
}

.region-entity.selected_region:before {
    opacity: 1;
    transform: translateX(0);
}

.region-entity_after {
    font-size: 3.688rem;
    width: 30rem;
    padding-block-start: 4.8rem;
    padding-block-end: 1.55rem;
    border-block-end: 2px solid var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.region-entity_after:first-child {
    padding-block-start: 1rem;
    margin-block-start: auto;
}

.region-entity__type {
    font-weight: 400;
}

/* BUTTONS & CONTROLS */
.select-all-regions {
    border: 2px solid var(--main-color);
    flex-grow: 1;
    padding: 10px 35px 8px 35px;
    align-content: center;
    white-space: nowrap;
}

.fetch-forecast {
    padding: 10px 35px 8px 35px;
    border: 2px solid var(--main-color);
    font-weight: 600;
}

/* MAP AND REGIONS */
#regions-map {
    width: 100%;
    height: 100%;
}

svg.regions-map {
    width: 100%;
    height: 100%;
    filter: blur(0.2px);
}

svg path.selected_region {
    fill: var(--select-color);
}

svg path[id] {
    transition: all 0.2s ease-in-out;
}

#region-tooltip {
    position: fixed;
    display: none;
    background-color: rgb(26 26 26);
    color: #ffffff;
    white-space: nowrap;
    z-index: 10000;
    pointer-events: none;
    transform: translate(0, -75px);
    text-transform: uppercase;
    font-size: 2.4em;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

/* REGION DETAILS, FORECAST */
.region-detailed-info {
    position: absolute;
    bottom: 0;
    border-block-start: 2px solid var(--main-color);
    width: 100%;
    background: var(--background-color);
    display: flex;
    margin: 0;
    padding: 0;
}
.separator {
    align-self: center;
    padding: 2.143rem 3.857rem 1.929rem 3.857rem;
    height: 100%;
}

.region-forecast {
    padding: 2.143rem 2.143rem 1.786rem 3.571rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-inline-start: 2px solid var(--main-color);
}

.region-forecast__info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.region-forecast__stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.region-return-to-list {
    font-size: 1.5rem;
}

.forecast-helper {
    font-size: 1.5rem;
}

.forecast-id {
    font-size: 3.688rem;
}

.output {
    font-size: 3.688rem;
}

#alarm_probability {
    text-transform: uppercase;
    font-weight: 600;
}


/* ADDITIONAL ELEMENTS */
.counter-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: var(--main-color);
}

.action-after {
    display: flex;
    flex-direction: column;
}

svg.moreinfo {
    margin-block-end: 8px;
    flex-shrink: 0;
    transition: .2s cubic-bezier(0, 0, 0, 2.13);
    width: 3.143rem;
    height: 3.143rem;
}

.region-entity_after:hover svg.moreinfo {
    transform: scale(1.1);
}

.separator svg{
    height: 13.85rem;
}

/* TIME SLIDER */
.region-forecast__slider {
    align-self: start;
}


.time-slider-container {
    position: relative;
    width: 562px;
    height: 145px;
    margin-block-start: 1rem;
}

.region-selector {
    background-color: #fff;
    padding: 20px;
    margin-block-end: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 600px;
    max-width: 95%;
    text-align: center;
}

.arc-svg {
    display: block;
    width: 100%;
    height: 100%;
    overflow: visible;
    max-width: 100%;
    max-height: 100%;
}

.handle {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: var(--main-color);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    z-index: 10;
    margin-block-start: -145px; /* watch later */
}

.handle:active {
    cursor: grabbing;
}

.labels {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--main-color);
    margin-block-start: 15px;
    font-size: 1.4rem;
    font-weight: 400;
}

.label-start {
    margin-inline-start: -20px;
}

.label-end {
    margin-inline-end: -20px;
}

/* MAP TRANSFORMATIONS */
.map-transform-kyiv {
    transform: translate(0vw, 26vh) rotate(32deg) scale(1.7);
}

.map-transform-kyiv_city {
    transform: translate(14vw, 50vh) rotate(29deg) scale(2.2);
}

.map-transform-chernivtsi {
    transform: translate(42vw, 9vh) rotate(30deg) scale(2.5);
}

.map-transform-vinnytsia {
    transform: translate(10vw, 0) rotate(24deg) scale(1.9);
}

.map-transform-lutsk {
    transform: translate(23vw, 63vh) rotate(31deg) scale(2.1);
}

.map-transform-dnipro {
    transform: translate(-40vw, -18vh) rotate(15deg) scale(2.2);
}

.map-transform-zhytomyr {
    transform: translate(8vw, 36vh) rotate(26deg) scale(2);
}

.map-transform-uzhhorod {
    transform: translate(42vw, 9vh) rotate(30deg) scale(2.5);
}

.map-transform-zaporizhzhia {
    transform: translate(-35vw, -45vh) rotate(12deg) scale(2.2);
}

.map-transform-ivano-frankivsk {
    transform: translate(42vw, 14vh) rotate(30deg) scale(2.5);
}

.map-transform-kropyvnytskyi {
    transform: translate(-10vw, -15vh) rotate(16deg) scale(2.2);
}

.map-transform-lviv {
    transform: translate(20vw, 16vh) rotate(26deg) scale(1.8);
}

.map-transform-mykolaiv {
    transform: translate(-18vw, -32vh) rotate(24deg) scale(1.8);
}

.map-transform-odesa {
    transform: translate(-14vw, -50vh) rotate(22deg) scale(1.9);
}

.map-transform-poltava {
    transform: translate(-14vw, 2vh) rotate(28deg) scale(1.9);
}

.map-transform-rivne {
    transform: translate(14vw, 16vh) rotate(8deg) scale(1.8);
}

.map-transform-sumy {
    transform: translate(-24vw, 39vh) rotate(12deg) scale(1.8);
}

.map-transform-ternopil {
    transform: translate(42vw, 25vh) rotate(30deg) scale(2.5);
}

.map-transform-kharkiv {
    transform: translate(-34vw, 18vh) rotate(12deg) scale(1.8);
}

.map-transform-kherson {
    transform: translate(-24vw, -42vh) rotate(12deg) scale(1.8);
}

.map-transform-khmelnytskyi {
    transform: translate(4vw, 6vh) rotate(18deg) scale(1.8);
}

.map-transform-cherkasy {
    transform: translate(-14vw, 9vh) rotate(29deg) scale(1.8);
}

.map-transform-chernihiv {
    transform: translate(0vw, 36vh) rotate(2deg) scale(1.7);
}

/* ANIMATIONS */
@keyframes pulsate {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes pulsate-rotate {
    0% { transform: translate(-50%, -50%) rotate(45deg) scale(1.5); }
    50% { transform: translate(-50%, -50%) rotate(45deg) scale(1.7); }
    100% { transform: translate(-50%, -50%) rotate(45deg) scale(1.5); }
}

@keyframes slideAndShrink {
    0% {
        transform: translateX(0);
        width: 100%;
        opacity: 1;
    }
    100% {
        transform: translateX(-40vw);
        width: 0%;
        opacity: 0;
    }
}

@keyframes heightShrink {
    0% {
        margin-block-start: 0px;
    }
    100% {
        margin-block-start: -50px;
    }
}

@keyframes makeFromBottom {
    0% {
        transform: translateY(30vh);
    }
    100% {
        transform: translateY(0vh);
    }
}

.region-detailed-info {
    animation: makeFromBottom 0.6s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.region-action .action-before {
    animation: slideAndShrink 0.6s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.region-action .interaction__buttons {
    animation: slideAndShrink 0.6s cubic-bezier(0.23, 1, 0.32, 1) forwards, 
               heightShrink 0.3s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}


/* MEDIA RULES */
@media screen and (max-width: 1537px) { /* 1536px is the effective width of a 1920px screen at 125% scaling, 1366px included */
    html {
        font-size: 10px;
    }
    .region-forecast__slider {
        transform: scale(0.8);
    }
    .time-slider-container {
        margin-block-start: -0.857rem;
    }
}